In [45]:
import pandas as pd
import numpy as np

import dash
import dash_core_components as dcc
import dash_html_components as html

import warnings
warnings.filterwarnings('ignore')

import module

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [46]:
confirmed_df, deaths_df, recovered_df = gather_data()

In [47]:
df_dict = {'confirmed': confirmed_df, 'deaths' : deaths_df, 'recovered' : recovered_df}

In [48]:
full_df = pd.read_csv('time-series-19-covid-combined_csv.csv')
full_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16120 entries, 0 to 16119
Data columns (total 7 columns):
Date              16120 non-null object
Country/Region    16120 non-null object
Province/State    4940 non-null object
Lat               16120 non-null float64
Long              16120 non-null float64
Confirmed         16120 non-null int64
Deaths            16120 non-null int64
dtypes: float64(2), int64(2), object(3)
memory usage: 881.7+ KB

In [49]:
full_df.head()

         Date Country/Region Province/State   Lat  Long  Confirmed  Deaths
0  2020-01-22    Afghanistan            NaN  33.0  65.0          0       0
1  2020-01-23    Afghanistan            NaN  33.0  65.0          0       0
2  2020-01-24    Afghanistan            NaN  33.0  65.0          0       0
3  2020-01-25    Afghanistan            NaN  33.0  65.0          0       0
4  2020-01-26    Afghanistan            NaN  33.0  65.0          0       0

In [50]:
columns = ['date', 'country', 'state', 'lat', 'long', 'confirmed', 'deaths']
full_df.columns = columns

In [51]:
country_df_dict = module.create_country_dict(full_df)

In [53]:
country_df_dict = module.format_time_series(country_df_dict)

In [56]:
country_df_dict['Spain_df'].info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 65 entries, 2020-01-22 to 2020-03-26
Data columns (total 5 columns):
state        0 non-null object
lat          65 non-null float64
long         65 non-null float64
confirmed    65 non-null int64
deaths       65 non-null int64
dtypes: float64(2), int64(2), object(1)
memory usage: 3.0+ KB

In [58]:
country_df_dict['India_df']

           state   lat  long  confirmed  deaths
date
2020-01-22   NaN  21.0  78.0          0       0
2020-01-23   NaN  21.0  78.0          0       0
2020-01-24   NaN  21.0  78.0          0       0
2020-01-25   NaN  21.0  78.0          0       0
2020-01-26   NaN  21.0  78.0          0       0
...          ...   ...   ...        ...     ...
2020-03-22   NaN  21.0  78.0        396       7
2020-03-23   NaN  21.0  78.0        499      10
2020-03-24   NaN  21.0  78.0        536      10
2020-03-25   NaN  21.0  78.0        657      12
2020-03-26   NaN  21.0  78.0        727      20

[65 rows x 5 columns]